%row-spacing{
    margin-bottom: 20px;
}

%btn-large-yellow{
    background-color: $yellow;
    color: $primary;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: $boldfont;
    text-transform: uppercase;
}
