body{
    font-family: $sitefont;
    background-color: $light
}

header#main{
    height: 100vh;
    background-image: url('../images/header_bg.png');
    background-size: cover;

    img{
        width: 500px;
    }

    h3{
        color: $light;
        text-shadow: 0px 0px 10px rgba(black, .5)
    }
}


header#secondary{
    min-height: 30vh;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;

    img{
        width: 500px;
        padding: 0px;
        position: relative;
        top:-20px;
    }

    h3{
        color: $light;
        text-shadow: 0px 0px 10px rgba(black, .5);
        padding-top: 70px;
        width: 100%;
        text-align: center;

        @media screen and (max-width: 63.9375em) {
            padding-top: 0px;
            width: 80%;
            margin: 50px auto;
            font-size: 2em;
            text-align: center;
        }
    }
}

header#single{
    @extend %gradient_bg;
    padding: 20px 0px;
    color: $light;

     h3{
         font-family: $boldfont;
         text-transform: uppercase;
         display: inline-block;
         padding: 15px 0px;
         margin: 0px;

         .title{
             color: $yellow;
         }
     }

     button{
         @extend %btn-large-yellow;
     }
}

/// MENU

.icon-menu{
    padding: 20px;
    font-size: 2em;
    color: $light;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(black, .4);

    &:focus{
        outline: none;
    }

    &:hover{
        opacity: .5;
    }

}

#menu{
    list-style: none;
    padding-left: 40px;

    li{
        color: $light;
        margin-bottom: 50px;
        a{
            font-family: $boldfont;
            text-transform: uppercase;
            color: $light;
            font-size: 3em;
            line-height: .6em;
        }

        span{
            display: block;
            line-height: .5em;
        }
    }


}
///// /MENU

/////////////////// OFF CANVAS MENU

.off-canvas{
    @extend %gradient_bg;
}

.js-off-canvas-overlay{
    background-color: rgba($dark, .6);
    z-index: 11;
}

.off-canvas.is-transition-overlap.is-open{
    box-shadow: -20px 0px 150px rgba(black, .5);
}

.position-right{
    @media screen and (max-width: 63.9375em){
        width: 60vw!important;
        transform: translateX(60vw);
    }
    width: 33vw;
    height: 100%;
    transform: translateX(33vw);
}
.off-canvas.is-transition-overlap{
    z-index: 12;
}

.is-open.position-right{
    width: 33vw;
}

/////////////////// OFF CANVAS MENU

.highlighted{
    color: $yellow;
}

.no-padding-col{
    padding: 0px;
}

.inner-row{
    @extend %row-spacing;
}
.col-info-pan{
    @include padd-top(80px);
}
.single-info{
    @include padd-top(40px);
}


#content{
    background-color: $dark;

    .tabs, .tabs-content{
        background-color: $dark;
        border: none;
    }

    .tabs{
        background-color: $primary;

        .tabs-title a{
            color: $light;
            font-family: $boldfont;
            font-size: 1.2em;
        }

        .is-active, .tabs-title > a[aria-selected='true']{
            background-color: $yellow;

        }
        .tabs-title{
            &.is-active{
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 30px 0 30px;
                    border-color: $yellow transparent transparent transparent;
                    bottom: -10px;
                    left: 10px;
                    z-index: 10;
                }
            }
        }

        .is-active:hover{
            &:after{
                border-color: darken($yellow, 20) transparent transparent transparent;
            }
        }
        .tabs-title a:hover{
            background-color: darken($yellow, 20);
        }
    }
    // ----------- tabs

    .col-info-pan{
        header{
            h3{
                font-size: 2.5em;
                letter-spacing: -0.05em;
                display: inline-block;
                color: $yellow;
                line-height: 1em;
            }
            span{
                display: inline-block;
                margin-left: 10px;
            }
        }
        a{
            color: $secondary;
            text-decoration: underline;
        }

        button{
            @extend %btn-large-yellow;

            a{
                color: $dark;
                text-decoration: none;
            }

            &:hover{
                background-color: $secondary;
                color: $dark;
            }

        }

    }

    .tabs-panel{
        padding: 0px;
    }

    #panel1, #panel2{
        color: white;
    }


}

.more-properties{
    padding: 10%;
    text-align: center;
    i{
        font-size: 5em;
    }
}

#ourLocation{
    height: 400px;
}
#contact-me{
    margin-top: 70px;
    list-style: none;
    padding: 0px;
    list-style-position: inside;
    font-size: 1.6rem;
    font-family: $boldfont;
    line-height: 1.3em;
    text-align: right;
    color: $primary;

    li{

        margin: 0px;
        text-transform: uppercase;

        a{
            color: $complement;
            font-size: 2em;
            line-height: .8em;

            &.email{
                font-family: $sitefont;
                font-size: .8em;
                text-transform: lowercase;
                line-height: 1em;
            }
        }

        h5{
            font-size: 3em;
            font-family: $boldfont;
            text-transform: uppercase;
            letter-spacing: -0.05em;
            line-height: .9em;
        }

        address{
            font-family: $sitefont;
            font-size: 1em;
            color: $grey-dark;
            line-height: 1em;
            text-transform: capitalize;
        }
    }
}

#contact-me.inner-contact{
    margin-top: 0px;
    font-size: 1rem;
    color: $light;

    a{
        color: $light;
        text-decoration: none;
    }
}

#do-in-pucon{
    background-color: $primary;
    background-image: url('../images/pattern.png');

    header{
        padding: 50px 0px;
    }
    h3{
        color: $light;
        img{
            width: 200px;
        }
    }

    #images-to-do{

        .item-grid{
            position: relative;
            margin: 0px;
            span{
                position: absolute;
                padding: 10px;
                background-color: $yellow;
                text-transform: uppercase;
                color: $primary;
                font-family: $boldfont;
                top: 0;
            }
        }
    }
}

.questions h5{
    color: $yellow;
    font-family: $boldfont;
    text-transform: uppercase;
    font-size: 2em;
}

.form-appto{
    background-color: $light;
    padding: 30px;
    position: relative;
    border-top: 15px solid $yellow;
    top:-50px;
    box-shadow: 0px 0px 50px rgba(black, .4);

      @media screen and (max-width: 63.9375em) {
        top:0px;
      }

    fieldset{

        &:first-child(){
            margin-bottom: 20px;
        }

        text-transform: uppercase;
        color: $primary;
        font-family: $boldfont;
        font-size: 1.5em;
        legend{
            margin-bottom: 10px;
        }
    }

    label{
        text-indent: -99999;
        display: none;
    }

    input{
        border: 1px solid $complement;
        border-radius: 20px;
        padding: 20px;
        background: none;
        font-family: $sitefont;
        font-style: italic;
    }

    .price-calc{
        p{
            color: $grey-dark;
            span{
                color: $secondary;
                font-weight: bolder;
                font-size: 1.6em;
                margin-left: 5px;

                &:before{
                    content: '$';
                }
            }
        }
        button{
            @extend %btn-large-yellow;
        }
    }
}

//// Our properties
.single-questions{
    border-top: 1px solid $light;
    @include padd-top(40px);
}

#description-single{
    h4{
        color: $secondary;
        font-family: $boldfont;
        text-transform: uppercase;
    }
}
footer{
    background-color: darken($primary, 20);
    color: $light;
    padding: 20px 0px;

    p{
        margin: 0px;
    }
}

// about page

#single{
    @media screen and (max-width: 63.9375em) {
        text-align: center;
        .text-right{
            text-align: center;
        }

        h3{
            font-size: 2em;
        }
    }


}


#pucon{
    @media screen and (min-width: 64em) {
        background-image:url('../images/southChile.jpg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 55%;
        position: relative;
    }

    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (min-width: 64em) and (max-width: 74.9375em) {
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .container-txt{
        height: 100%;

        h3{
            color: $primary;
        }
        p{
            color: $grey-dark;
        }

        h3, p{
            position: relative;
            z-index: 2;
        }

        @media screen and (min-width: 64em) {
            &:after{
                content: "";
                background-color: $light;
                height: 100%;
                position: absolute;
                width: 300px;
                top:0px;
                right: 45%;
                z-index: 1;
                transform: skewX(20deg);
            }
        }
    }
}

#chile{
    color: $light;
    @extend %gradient_bg;
    margin: 0px;
    padding: 0px;
    header{
        padding: 30px;

    }
    iframe{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

}

// ++++++++++++++++++++++  modal
#modal{
    @extend %gradient_bg;
    color: white;
    text-align: center;
    padding: 200px 0px;
    position: fixed;
    font-size: 6rem;
    width: 50vw;
    top: 10%;
    left: 25%;
    box-shadow: 0px 0px 100px rgba(black, .5);
    z-index: 20;

    @media screen and (max-width: 63.9375em) {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .text{
        font-size: 3rem;
        font-family: $boldfont;
    }

    .close{
        position: absolute;
        top: 0px;
        font-size: 2rem;
        right: 0px;
        background: rgba(black, .2);
        width: 60px;
        padding: 5px 0px;
        text-align: center;
        cursor: pointer;
    }
}
